* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(186, 213, 223);
}
.main_container {
  display: flex;
  width: 736px;
  height: 512px;
  background-color: white;
  border-radius: 32px;
}
.box1 {
  width: 368px;
  height: 512px;
  background-color: #7755ff;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}
.results {
  color: whitesmoke;
  font-size: xx-large;
  flex-direction: center;
  margin-top: 30px;
}
.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 360px;
  background: #4d21c9;
  margin-top: 50px;
}
.result_box {
  color: white;
  font-weight: 200px;
  font-size: 72px;
  font-style: bold;
  flex-direction: center;
}
.span {
  color: rgb(201, 187, 187);
}

.heading1 {
  color: white;
  font-weight: 700px;
  font-size: 30px;

  margin-top: 40px;
}
.text {
  color: white;
  font-weight: 500px;
  font-size: 17px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
}
.content {
  color: white;
  font-weight: 500px;
  font-size: 17px;
  margin-left: 30px;
  margin-right: 30px;
}
.box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 368px;
  height: 512px;
}
.summary {
  width: 100%;
  padding-left: 30px;
}
.sum {
  color: #303b59;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.summary_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 288px;
  height: 272px;
  gap: 15px;
}

.reaction_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #f7f0f0f2;

  width: 288px;
  height: 56px;
  border-radius: 12px;
}
.flash_icon {
  display: flex;
}
.flash_icon img {
  margin-right: 5px;
}
.reaction {
  margin-top: 5px;
  color: rgb(209, 6, 12);
  font-size: 18px;
  font-weight: 700;
}
.value {
  margin-top: 10px;
  color: #303b59;
  font-size: 18px;
  font-weight: 700;
}
.from {
  margin-top: 10px;
  color: #363e557e;
  font-size: 18px;
  font-weight: 700;
}
.memory_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #f7f0f0f2;

  width: 288px;
  height: 56px;
  border-radius: 12px;
}
.brain_icon {
  display: flex;
}
.Brain_icon img {
  margin-right: 10px;
}
.memory {
  margin-top: 10px;
  color: #ffb21e;
  font-size: 18px;
  font-weight: 700;
}
.value {
  margin-top: 10px;
  color: #303b59;
  font-size: 18px;
  font-weight: 700;
}
.from {
  margin-top: 10px;
  color: #363e557e;
  font-size: 18px;
  font-weight: 700;
}
.verbal_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #fffffff2;

  width: 288px;
  height: 56px;
  border-radius: 12px;
}
.verbal_icon {
  display: flex;
}
.Verbal_icon img {
  margin-right: 10px;
}
.verbal {
  margin-top: 10px;
  color: #00bb8f;
  font-size: 18px;
  font-weight: 700;
}
.value {
  margin-top: 10px;
  color: #303b59;
  font-size: 18px;
  font-weight: 700;
}
.from {
  margin-top: 10px;
  color: #363e557e;
  font-size: 18px;
  font-weight: 700;
}
.visual_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #fffffff2;

  width: 288px;
  height: 56px;
  border-radius: 12px;
}
.visual_icon {
  display: flex;
}
.visual_icon img {
  margin-right: 10px;
}
.visual {
  margin-top: 10px;
  color: #1125d6;
  font-size: 18px;
  font-weight: 700;
}
.value {
  margin-top: 10px;
  color: #303b59;
  font-size: 18px;
  font-weight: 700;
}
.from {
  margin-top: 10px;
  color: #363e557e;
  font-size: 18px;
  font-weight: 700;
}
.continue {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #303b59;

  width: 288px;
  height: 56px;
  border-radius: 26px;
  margin-bottom: 46px;
}
.cont {
  margin-top: 5px;
  margin-right: 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
